/*external CSS file*/
div{
    background-color: blue;
	width: 100%;
		font-family: Tahoma;


}


}
div div {
	background-color: red;
	width: 40%;
	display: inline-block;
	background-color: yellow;
	color: grey;
}

div{
}
}body{
    background-color: green;
    font-family: Arial;
}
div header{
	display: inline-block;

	color: yellow;
	text-align: center;
	vertical-align: middle;
	line-height: 70px; 
	font-size: 40px;
	background-color: grey;
	position: absolute;
}
/*#filters{ 
	width: 40%;
	display: inline-block;
	background-color: yellow;
	color: yellow;
}*/